<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<p style ="font-size:14px;"><span style ="text-transform:capitalize;"><%= @user.username %> </span> has invited you  to join into <%= link_to "goteamcloud" ,"http://www.goteamcloud.com" %> </p></br><br/>
<p style ="font-size:14px;" > The following are the message details </p><br/><br/>
<p style ="font-size:14px;" > <%= @subject %></p> <br/><br/>

<p style ="font-size:14px;">Follow the link to create your account <%="www.goteamcloud.com/signup"%> </p><br/><br/><br/>

<p style ="font-size:14px;"> Thank you  </p>
<p style ="font-size:14px;"> Goteamcloud.</p>
  </body>
</html>
<table>
 
