<div class="btn-group" data-toggle="buttons-radio">
  <%= link_to "Tasks",projects_path,:class => "btn btn-primary" %>
  <%= link_to "Projects",project_types_path,:class => "btn btn-primary" %>
</div>
