<style>
 .bor{
  text-align :center;
  color :green;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size : 13px;
  }
</style>
<br/>
<div class="bor">
  Message has been sent successfully.
</div>

