 <div>
 <%= link_to "Projects",project_types_path,:class => "btn btn-primary" %>
 <%= link_to "Tasks",projects_path,:class => "btn btn-primary" %>
 <%= link_to "Issues",issues_path,:class => "btn btn-primary" %>
 </div>
 <br/>
