<br/>
<div class="bor">
   Message has been sent successfully,Thank you for using email service.
</div>
<style>
 .bor{
  text-align :center;
  color :green;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size : 13px;
  }
</style>
