<ul class="nav nav-tabs">
  <li class="<%= action_active('index') %>">
    <%= link_to admin_pay_periods_path do %>
        <i class="icon-list-alt"></i>
        Index
    <% end %>
  </li>
  <li class="<%= action_active('new') %>">
    <%= link_to new_admin_pay_period_path do %>
      <i class="icon-plus"></i>
      Create New PayPeriod
    <% end %>
  </li>
</ul>