
<script>
$(document).ready(function() {
$("#table_data").dataTable().fnDestroy();

    $('#table_data').dataTable( {
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bSort": true,
        "bInfo": false,
        "bAutoWidth": false,
        "aaSorting": [  [1,'desc'] ],
         "oLanguage": {
        "sLengthMenu": 'Display <select style="margin-right:5px;"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="250">250</option><option value="-1">All</option></select>records&hellip;'
        }
    });
});
</script>
<script>

/*
,"fnFooterCallback": function ( nFoot, aaData, iStart, iEnd, aiDisplay ) {
                    
					var iTotalMarket = [0,0,0,0,0];
                        for(var j=1;j<=5;j++)
			for ( var i=0 ; i<aaData.length ; i++ )
			{
				iTotalMarket[j-1] += aaData[i][j]*1;
			}
			
			var iPageMarket = [0,0,0,0,0];
                        for(var j=1;j<=5;j++)
			for ( var i=iStart ; i<iEnd ; i++ )
			{
				iPageMarket[j-1] += aaData[ aiDisplay[i] ][j]*1;
			}
			
	var nCells = nFoot.getElementsByTagName('th');		
for(i=1;i<=5;i++){

			nCells[i].innerHTML = parseInt(iPageMarket[i-1]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                       


}
		}*/
</script>
