

<p>
  <b>Name:</b>
  <%= @projecttype.projecttype %>
</p>

<p>
  <b>Usage:</b>
  <%= @projecttype.usage %>
</p>
<br/>
<br/>

<%= link_to 'Edit', edit_projecttype_path(@projecttype) ,class: 'btn' %> 
<%= link_to 'Back', projecttypes_path ,class: 'btn' %>
