<ul class="nav nav-tabs">
  <li class="<%= action_active('index') %>">
    <%= link_to time_records_path do %>
        <i class="icon-list-alt"></i>
        Index
    <% end %>
  </li>

 <!-- <li class="<%= action_active('all_time') %>">
    <%= link_to '/TimeRecords' do %>
      <i class="icon-plus"></i>
      Time Records
    <% end %>
  </li> -->
</ul>
