<ul class="nav nav-tabs">
  <li class="<%= tab_active('meetings') %>">
    <%= link_to meetings_path do %>
        <i class="icon-list-alt"></i>
        Meetings
    <% end %>
  </li>
 
  <li class="<%= tab_active('attendees') %>">
    <%= link_to attendees_path do %>
        <i class="icon-list-alt"></i>
        Attendees
    <% end %>
  </li>
 
  
  
</ul>
