

<div class="well privact-bg" %>

<h1 class="privacy" > Privacy Policy </h1>
<h3> Goteamcloud Privacy Policy </h3>

<p>
We collect the e-mail addresses of those who communicate with us via e-mail, aggregate information on what pages consumers access or visit, and information volunteered by the consumer (such as survey information and/or site registrations). The information we collect is used to improve the content of our Web pages and the quality of our service, and is not shared with or sold to other organizations for commercial purposes, except to provide products or services you've requested, when we have your permission, or under the following circumstances:
</p>
<p>
It is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Terms of Service of the specific application, or as otherwise required by law.
We transfer information about you if Goteamcloud is acquired by or merged with another company. In this event, Goteamcloud will notify you before information about you is transferred and becomes subject to a different privacy policy.
<p>
<br/>
<h3>Information gathering and usage </h3>
<p>
When you register for Goteamcloud we ask for information such as your name, company name, email address, plan, credit card information. Members who sign up for the free account are not required to enter a credit card.
</p>
<p>
Goteamcloud uses collected information for the following general purposes: services provision, identification and authentication, services improvement, contact. Goteamcloud does not share your personal information with third parties, unless explicitly approved by you.
</p>
<br/>
<h3>Cookies</h3>
<p>
A cookie is a small amount of data, which often includes an anonymous unique identifier, that is sent to your browser from a web site's computers and stored on your computer's hard drive.
Cookies are required to use the Goteamcloud services.
We use cookies to record current session information, but do not require permanent cookies.
</p>

<br/>

<h3>Data Security </h3>

<p> We take reasonable steps to maintain the security of the personally identifiable information that we collect, including limiting the number of people who have physical access to our database servers, as well as installing electronic security systems that guard against unauthorized access. However, no data transmission over the Internet can be guaranteed to be completely secure. Accordingly, we cannot ensure or warrant the security of any information that you transmit to us, so you do so at your own risk.
</p>
<br />
<h3>Changes</h3>
<p>
Goteamcloud may periodically update this policy. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your Goteamcloud service primary account holder account or by placing a prominent notice on our site. You retain the right to access, amend, correct or delete your personal information where it is inaccurate at any time. To do so, please contact support@goteamcloud.com.
</p>
<br/>
<h3>Questions</h3>
<p>
Any questions about this Privacy Policy should be addressed to support@goteamcloud.com 
</p>
</div>



<style>

.privacy {
background: url(assets/about-text.png) no-repeat;
height: 52px;
color: white;
font: 700 22px/40px "Trebuchet MS",Arial, Helvetica, sans-serif;
text-indent: 25px
}
.privact-bg p {
text-indent:50px;
}
.privact-bg{

height: auto;
background: url(assets/index.gif) repeat-x;
margin-left: 5px;
padding-top: 25px;
font-size:14px;

text-align:justify;
padding-left:45px;
padding-right:45px;
}
</style>