<div class="bor">
<br/>
  <h2>Thank you for your valuable feedback </h3>
    <br/> 
    
   <p style="text-indent:50px;text-align:justify">
       Thank you for taking the time to respond to our recent customer survey. Your responses will help to shape
       the future of our service, our products and our overall way of doing business.We appreciate the unique opportunity to see ourselves through the eyes of our customers and are eager to gather ideas on what we can do better. We expect to
hear customers feedback such as yourself and will carefully review everyone's feedback.</p>
   <p style="text-indent:50px;">
      Thank you again for sharing your thoughts with us. We appreciate your time and effort in providing feedback to us.
   </p>
  <p>
   <div class="pull-right" style="padding-top:10px">
           Sincerely
       <h5>Goteamcloud.</h5>
   </div>
</div>
<style>
#msgtype{
	width:64px;
}

.bor{
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    border-bottom:1px solid #EBEBEB;
    padding-bottom :3px;
    margin-bottom :10px;
    line-height :2em;    
}
</style>
