<br/>
<div class="bor">
  Tasks has been updated successfully.
</div>
<style>
 .bor{
  text-align :center;
  color :green;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size : 13px;
  }
</style>
