<h1>Welcome To Super Admin: <%= current_user.name %></h1>

<p>You are logged in as Super Admin role, You Can enable/disable the admin users.</p>
<p>If you disable the admin user where under admin user organization, All normal users will be disable.</p>



